.container
  p.text-muted
    | &copy; 2018 - 
    = ' ' 
    a(href='http://nigahisoykan.meb.k12.tr', target='_blank') Nigahi Soykan İlkokulu
    | 'nun öğrencileri, öğretmenleri ve tüm kitap dostları için
    = ' '
    span.text-danger
      big &hearts;
    = ' '
    | ile hazırlandı. 
    a.text-muted.pull-right.hidden-xs(href='https://www.github.com/kemalersin/kitapdostu', target='_blank')
      i.fa.fa-2x.fa-github
