a.btn.btn-social.btn-facebook(ng-class='classes'
  ng-click='OauthButtons.loginOauth("facebook")')
  i.fa.fa-facebook
  | Facebook ile bağlan

a.btn.btn-social.btn-google(ng-class='classes'
  ng-click='OauthButtons.loginOauth("google")')
  i.fa.fa-google-plus
  | Google ile bağlan

a.btn.btn-social.btn-twitter(ng-class='classes'
  ng-click='OauthButtons.loginOauth("twitter")')
  i.fa.fa-twitter
  | Twitter ile bağlan
